@mixin box-glow($radius) {
    box-shadow: 0 0 ($radius / 2.5) $red, 0 0 $radius $yellow;
}
@mixin text-glow($radius) {
    text-shadow: 0 0 ($radius / 2.5) $red, 0 0 $radius $yellow;
}

$red: #f00;
$orange: rgb(255, 158, 91);
$yellow: #ff0;
$white: #fff;

body {
    background: black;
    text-align: center;
    font-family: 'Calibri', sans-serif;
    padding: 1em 1em 5em 1em;
}

.site-header {
    display: flex;
    display: -webkit-flex;
    h1 {
        background: url('/img/logo.jpg') no-repeat;
        background-size: fit;
        color: transparent;
        -webkit-user-select: no-select;
        width: 630px;
        min-height: 252px;
    }
    nav {
        flex: 1;
        -webkit-flex: 1;
        a {
            text-transform: uppercase;
            text-decoration: none;
            font-weight: bold;
            font-size: 40px;
            color: $orange;
            transition: all .5s;
            -webkit-transition: all .5s;
            &:hover {
                color: $white;
                @include text-glow(.3em);
            }
        }
    }
}

article {
    @include box-glow(1.2em);
    background: $white;
    font-size: 1.5em;
    line-height: 1.5;
    margin: 0em 2em;
    text-align: justify;
    padding: 1em 2em;
    border-radius: .25em;
    a {
        text-decoration: none;
        font-weight: bold;
        color: $red;
        transition: all .25s;
        -webkit-transition: all .25s;
        &:hover {
            color: $white;
            @include text-glow(.5em);
        }
    }
}

.post-list {
    padding: 0;
    li {
        list-style: none;
        .post-meta {
            display: block;
            font-size: .6em;
            line-height: .6em;
        }
        a {
            display: block;
        }
        margin: .5em 0;
    }
}